/* 360 */

.floating-icon {
    display: none !important;
}

.floating-bg {
    overflow: hidden !important;
}

.floating-thumb {
    background-size: contain !important;
    background-color: transparent !important;
    background-image: url('https://p3.ssl.qhimg.com/t0128439c6143122bad.png') !important;
}

.light,
[data-theme="light"] {
    --background: hsl(113 40% 96%) !important;
    --accent-50: hsl(144 71% 46%) !important;
    --accent-100: hsl(144 71% 46%) !important;
    --accent-200: hsl(144 71% 46%) !important;
    --accent-300: hsl(144 71% 46%) !important;
    --accent-400: hsl(144 71% 46%) !important;
    --accent-500: hsl(144 71% 46%) !important;
    --accent-600: hsl(144 71% 46%) !important;
    --accent-700: hsl(144 71% 46%) !important;
    --accent-800: hsl(144 71% 46%) !important;
    --accent-900: hsl(144 71% 46%) !important;
    --accent: hsl(144 71% 46%) !important;
    --secondary-50: hsl(56 100% 50%) !important;
    --secondary-100: hsl(56 100% 50%) !important;
    --secondary-200: hsl(56 100% 50%) !important;
    --secondary-300: hsl(56 100% 50%) !important;
    --secondary-400: hsl(56 100% 50%) !important;
    --secondary-500: hsl(56 100% 50%) !important;
    --secondary-600: hsl(56 100% 50%) !important;
    --secondary-700: hsl(56 100% 50%) !important;
    --secondary-800: hsl(56 100% 50%) !important;
    --secondary-900: hsl(56 100% 50%) !important;
    --secondary: hsl(56 100% 50%) !important;
}

.dark,
[data-theme="dark"] {
    --accent-50: hsl(145 100% 33%) !important;
    --accent-100: hsl(145 100% 33%) !important;
    --accent-200: hsl(145 100% 33%) !important;
    --accent-300: hsl(145 100% 33%) !important;
    --accent-400: hsl(145 100% 33%) !important;
    --accent-500: hsl(145 100% 33%) !important;
    --accent-600: hsl(145 100% 33%) !important;
    --accent-700: hsl(145 100% 33%) !important;
    --accent-800: hsl(145 100% 33%) !important;
    --accent-900: hsl(145 100% 33%) !important;
    --accent: hsl(145 100% 33%) !important;
    --secondary-50: hsl(56 100% 50%) !important;
    --secondary-100: hsl(56 100% 50%) !important;
    --secondary-200: hsl(56 100% 50%) !important;
    --secondary-300: hsl(56 100% 50%) !important;
    --secondary-400: hsl(56 100% 50%) !important;
    --secondary-500: hsl(56 100% 50%) !important;
    --secondary-600: hsl(56 100% 50%) !important;
    --secondary-700: hsl(56 100% 50%) !important;
    --secondary-800: hsl(56 100% 50%) !important;
    --secondary-900: hsl(56 100% 50%) !important;
    --secondary: hsl(56 100% 50%) !important;
}
