/* 哔哩哔哩 */

.dark, [data-theme="dark"] {
    --background: hsl(220 6% 5%) !important;
    --surface: hsl(220 6% 10%) !important;
    --surface-secondary: hsl(220 6% 15%) !important;
    --surface-tertiary: hsl(220 6% 20%) !important;
    --surface-tertiary: hsl(220 6% 25%) !important;
    --default-50: hsl(220 6% 10%) !important;
    --default-100: hsl(220 6% 15%) !important;
    --default-200: hsl(220 6% 25%) !important;
    --default-300: hsl(220 6% 35%) !important;
    --default-400: hsl(220 6% 45%) !important;
    --default-500: hsl(220 6% 65%) !important;
    --default-600: hsl(220 6% 85%) !important;
    --default-700: hsl(220 6% 90%) !important;
    --default-800: hsl(220 6% 95%) !important;
    --default: hsl(220 6% 25%) !important;
    --accent-50: hsl(339 61% 57%) !important;
    --accent-100: hsl(339 61% 57%) !important;
    --accent-200: hsl(339 61% 57%) !important;
    --accent-300: hsl(339 61% 57%) !important;
    --accent-400: hsl(339 61% 57%) !important;
    --accent-500: hsl(339 61% 57%) !important;
    --accent-600: hsl(339 61% 57%) !important;
    --accent-700: hsl(339 61% 57%) !important;
    --accent-800: hsl(339 61% 57%) !important;
    --accent-900: hsl(339 61% 57%) !important;
    --accent: hsl(339 61% 57%) !important;
    --secondary-50: hsl(44 79% 54%) !important;
    --secondary-100: hsl(44 79% 54%) !important;
    --secondary-200: hsl(44 79% 54%) !important;
    --secondary-300: hsl(44 79% 54%) !important;
    --secondary-400: hsl(44 79% 54%) !important;
    --secondary-500: hsl(44 79% 54%) !important;
    --secondary-600: hsl(44 79% 54%) !important;
    --secondary-700: hsl(44 79% 54%) !important;
    --secondary-800: hsl(44 79% 54%) !important;
    --secondary-900: hsl(44 79% 54%) !important;
    --secondary-foreground: hsl(0 0% 100%) !important;
    --secondary: hsl(44 79% 54%) !important;
    --warning-50: hsl(17 71% 52%) !important;
    --warning-100: hsl(17 71% 52%) !important;
    --warning-200: hsl(17 71% 52%) !important;
    --warning-300: hsl(17 71% 52%) !important;
    --warning-400: hsl(17 71% 52%) !important;
    --warning-500: hsl(17 71% 52%) !important;
    --warning-600: hsl(17 71% 52%) !important;
    --warning-700: hsl(17 71% 52%) !important;
    --warning-800: hsl(17 71% 52%) !important;
    --warning-900: hsl(17 71% 52%) !important;
    --warning-foreground: hsl(0 0% 0%) !important;
    --warning: hsl(17 71% 52%) !important;
    --danger-50: hsl(1 98% 61%) !important;
    --danger-100: hsl(1 98% 61%) !important;
    --danger-200: hsl(1 98% 61%) !important;
    --danger-300: hsl(1 98% 61%) !important;
    --danger-400: hsl(1 98% 61%) !important;
    --danger-500: hsl(1 98% 61%) !important;
    --danger-600: hsl(1 98% 61%) !important;
    --danger-700: hsl(1 98% 61%) !important;
    --danger-800: hsl(1 98% 61%) !important;
    --danger-900: hsl(1 98% 61%) !important;
    --danger-foreground: hsl(0 0% 100%) !important;
    --danger: hsl(1 98% 61%) !important;
}

.light, [data-theme="light"] {
    --background: hsl(0 0% 95%) !important;
    --surface: hsl(0 0% 95%) !important;
    --surface-secondary: hsl(0 0% 90%) !important;
    --surface-tertiary: hsl(0 0% 85%) !important;
    --surface-tertiary: hsl(0 0% 80%) !important;
    --default-50: hsl(0 0% 95%) !important;
    --default-100: hsl(0 0% 90%) !important;
    --default-200: hsl(0 0% 85%) !important;
    --default-300: hsl(0 0% 80%) !important;
    --default-400: hsl(0 0% 60%) !important;
    --default-500: hsl(0 0% 40%) !important;
    --default-600: hsl(0 0% 30%) !important;
    --default-700: hsl(0 0% 20%) !important;
    --default-800: hsl(0 0% 10%) !important;
    --default: hsl(0 0% 90%) !important;
    --accent-50: hsl(343 94% 72%) !important;
    --accent-100: hsl(343 94% 72%) !important;
    --accent-200: hsl(343 94% 72%) !important;
    --accent-300: hsl(343 94% 72%) !important;
    --accent-400: hsl(343 94% 72%) !important;
    --accent-500: hsl(343 94% 72%) !important;
    --accent-600: hsl(343 94% 72%) !important;
    --accent-700: hsl(343 94% 72%) !important;
    --accent-800: hsl(343 94% 72%) !important;
    --accent-900: hsl(343 94% 72%) !important;
    --accent: hsl(343 94% 72%) !important;
    --secondary-50: hsl(44 79% 54%) !important;
    --secondary-100: hsl(44 79% 54%) !important;
    --secondary-200: hsl(44 79% 54%) !important;
    --secondary-300: hsl(44 79% 54%) !important;
    --secondary-400: hsl(44 79% 54%) !important;
    --secondary-500: hsl(44 79% 54%) !important;
    --secondary-600: hsl(44 79% 54%) !important;
    --secondary-700: hsl(44 79% 54%) !important;
    --secondary-800: hsl(44 79% 54%) !important;
    --secondary-900: hsl(44 79% 54%) !important;
    --secondary-foreground: hsl(0 0% 100%) !important;
    --secondary: hsl(44 79% 54%) !important;
    --warning-50: hsl(17 71% 52%) !important;
    --warning-100: hsl(17 71% 52%) !important;
    --warning-200: hsl(17 71% 52%) !important;
    --warning-300: hsl(17 71% 52%) !important;
    --warning-400: hsl(17 71% 52%) !important;
    --warning-500: hsl(17 71% 52%) !important;
    --warning-600: hsl(17 71% 52%) !important;
    --warning-700: hsl(17 71% 52%) !important;
    --warning-800: hsl(17 71% 52%) !important;
    --warning-900: hsl(17 71% 52%) !important;
    --warning-foreground: hsl(0 0% 0%) !important;
    --warning: hsl(17 71% 52%) !important;
    --danger-50: hsl(1 98% 61%) !important;
    --danger-100: hsl(1 98% 61%) !important;
    --danger-200: hsl(1 98% 61%) !important;
    --danger-300: hsl(1 98% 61%) !important;
    --danger-400: hsl(1 98% 61%) !important;
    --danger-500: hsl(1 98% 61%) !important;
    --danger-600: hsl(1 98% 61%) !important;
    --danger-700: hsl(1 98% 61%) !important;
    --danger-800: hsl(1 98% 61%) !important;
    --danger-900: hsl(1 98% 61%) !important;
    --danger-foreground: hsl(0 0% 100%) !important;
    --danger: hsl(1 98% 61%) !important;
}
