/* 默认-灰色背景 */

.dark, [data-theme="dark"] {
  --background: hsl(240 5.88% 10%) !important;
  --surface: hsl(240 3.7% 15.88%) !important;
  --surface-secondary: hsl(240 5.26% 26.08%) !important;
  --surface-tertiary: hsl(240 5.2% 33.92%) !important;
  --default-50: hsl(240 3.7% 15.88%) !important;
  --default-100: hsl(240 5.26% 26.08%) !important;
  --default-200: hsl(240 5.2% 33.92%) !important;
  --default-300: hsl(240 3.83% 46.08%) !important;
  --default-400: hsl(240 5.03% 64.9%) !important;
  --default: hsl(240 5.2% 33.92%) !important;
}
