/* 默认 */

.dark, [data-theme="dark"] {
    --background: hsl(0 0% 0%) !important;
    --default-50: hsl(240 5.88% 10%) !important;
    --default-100: hsl(240 3.7% 15.88%) !important;
    --default-200: hsl(240 5.26% 26.08%) !important;
    --default-300: hsl(240 5.2% 33.92%) !important;
    --default-400: hsl(240 3.83% 46.08%) !important;
    --default-500: hsl(240 5.03% 64.9%) !important;
    --default-600: hsl(240 4.88% 83.92%) !important;
    --default-700: hsl(240 5.88% 90%) !important;
    --default-800: hsl(240 4.76% 95.88%) !important;
    --default-900: hsl(0 0% 98.04%) !important;
    --default: hsl(210 5.56% 92.94%) !important;
    --focus: hsl(212.01999999999998 100% 46.67%) !important;
    --overlay: hsl(0 0% 0%) !important;
    --border: hsl(0 0% 100%) !important;
    --border-opacity: 0.15 !important;
    --surface: hsl(240 5.88% 10%) !important;
    --surface-foreground: hsl(0 0% 98.04%) !important;
    --surface-secondary: hsl(240 3.7% 15.88%) !important;
    --surface-secondary-foreground: hsl(240 4.76% 95.88%) !important;
    --surface-tertiary: hsl(240 5.26% 26.08%) !important;
    --surface-tertiary-foreground: hsl(240 5.88% 90%) !important;
    --surface-tertiary: hsl(240 5.2% 33.92%) !important;
    --surface-tertiary-foreground: hsl(240 4.88% 83.92%) !important;
    --default-50: hsl(240 5.88% 10%) !important;
    --default-100: hsl(240 3.7% 15.88%) !important;
    --default-200: hsl(240 5.26% 26.08%) !important;
    --default-300: hsl(240 5.2% 33.92%) !important;
    --default-400: hsl(240 3.83% 46.08%) !important;
    --default-500: hsl(240 5.03% 64.9%) !important;
    --default-600: hsl(240 4.88% 83.92%) !important;
    --default-700: hsl(240 5.88% 90%) !important;
    --default-800: hsl(240 4.76% 95.88%) !important;
    --default-900: hsl(0 0% 98.04%) !important;
    --default-foreground: hsl(0 0% 100%) !important;
    --default: hsl(240 5.26% 26.08%) !important;
    --accent-50: hsl(211.84000000000003 100% 9.61%) !important;
    --accent-100: hsl(211.84000000000003 100% 19.22%) !important;
    --accent-200: hsl(212.24 100% 28.82%) !important;
    --accent-300: hsl(212.14 100% 38.43%) !important;
    --accent-400: hsl(212.01999999999998 100% 46.67%) !important;
    --accent-500: hsl(212.14 92.45% 58.43%) !important;
    --accent-600: hsl(212.24 92.45% 68.82%) !important;
    --accent-700: hsl(211.84000000000003 92.45% 79.22%) !important;
    --accent-800: hsl(211.84000000000003 92.45% 89.61%) !important;
    --accent-900: hsl(212.5 92.31% 94.9%) !important;
    --accent-foreground: hsl(0 0% 100%) !important;
    --accent: hsl(212.01999999999998 100% 46.67%) !important;
    --secondary-50: hsl(270 66.67% 9.41%) !important;
    --secondary-100: hsl(270 66.67% 18.82%) !important;
    --secondary-200: hsl(270 66.67% 28.24%) !important;
    --secondary-300: hsl(270 66.67% 37.65%) !important;
    --secondary-400: hsl(270 66.67% 47.06%) !important;
    --secondary-500: hsl(270 59.26% 57.65%) !important;
    --secondary-600: hsl(270 59.26% 68.24%) !important;
    --secondary-700: hsl(270 59.26% 78.82%) !important;
    --secondary-800: hsl(270 59.26% 89.41%) !important;
    --secondary-900: hsl(270 61.54% 94.9%) !important;
    --secondary-foreground: hsl(0 0% 100%) !important;
    --secondary: hsl(270 59.26% 57.65%) !important;
    --success-50: hsl(145.71000000000004 77.78% 8.82%) !important;
    --success-100: hsl(146.2 79.78% 17.45%) !important;
    --success-200: hsl(145.78999999999996 79.26% 26.47%) !important;
    --success-300: hsl(146.01 79.89% 35.1%) !important;
    --success-400: hsl(145.96000000000004 79.46% 43.92%) !important;
    --success-500: hsl(146.01 62.45% 55.1%) !important;
    --success-600: hsl(145.78999999999996 62.57% 66.47%) !important;
    --success-700: hsl(146.2 61.74% 77.45%) !important;
    --success-800: hsl(145.71000000000004 61.4% 88.82%) !important;
    --success-900: hsl(146.66999999999996 64.29% 94.51%) !important;
    --success-foreground: hsl(0 0% 0%) !important;
    --success: hsl(145.96000000000004 79.46% 43.92%) !important;
    --warning-50: hsl(37.139999999999986 75% 10.98%) !important;
    --warning-100: hsl(37.139999999999986 75% 21.96%) !important;
    --warning-200: hsl(36.95999999999998 73.96% 33.14%) !important;
    --warning-300: hsl(37.00999999999999 74.22% 44.12%) !important;
    --warning-400: hsl(37.02999999999997 91.27% 55.1%) !important;
    --warning-500: hsl(37.00999999999999 91.26% 64.12%) !important;
    --warning-600: hsl(36.95999999999998 91.24% 73.14%) !important;
    --warning-700: hsl(37.139999999999986 91.3% 81.96%) !important;
    --warning-800: hsl(37.139999999999986 91.3% 90.98%) !important;
    --warning-900: hsl(54.55000000000001 91.67% 95.29%) !important;
    --warning-foreground: hsl(0 0% 0%) !important;
    --warning: hsl(37.02999999999997 91.27% 55.1%) !important;
    --danger-50: hsl(340 84.91% 10.39%) !important;
    --danger-100: hsl(339.3299999999999 86.54% 20.39%) !important;
    --danger-200: hsl(339.11 85.99% 30.78%) !important;
    --danger-300: hsl(339 86.54% 40.78%) !important;
    --danger-400: hsl(339.20000000000005 90.36% 51.18%) !important;
    --danger-500: hsl(339 90% 60.78%) !important;
    --danger-600: hsl(339.11 90.6% 70.78%) !important;
    --danger-700: hsl(339.3299999999999 90% 80.39%) !important;
    --danger-800: hsl(340 91.84% 90.39%) !important;
    --danger-900: hsl(339.13 92% 95.1%) !important;
    --danger-foreground: hsl(0 0% 100%) !important;
    --danger: hsl(339.20000000000005 90.36% 51.18%) !important;
    --border-width: 1px !important;
    --disabled-opacity: .5 !important;
    --text-tiny: 0.75rem !important;
    --text-small: 0.875rem !important;
    --text-medium: 1rem !important;
    --text-large: 1.125rem !important;
    --text-tiny--line-height: 1rem !important;
    --text-small--line-height: 1.25rem !important;
    --text-medium--line-height: 1.5rem !important;
    --text-large--line-height: 1.75rem !important;
    --radius-sm: 8px !important;
    --radius-md: 12px !important;
    --radius-lg: 14px !important;
    --border-width-sm: 1px !important;
    --border-width-md: 2px !important;
    --border-width-lg: 3px !important;
    --app-shadow-sm: 0px 0px 5px 0px rgb(0 0 0 / 0.05), 0px 2px 10px 0px rgb(0 0 0 / 0.2), inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
    --app-shadow-md: 0px 0px 15px 0px rgb(0 0 0 / 0.06), 0px 2px 30px 0px rgb(0 0 0 / 0.22), inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
    --app-shadow-lg: 0px 0px 30px 0px rgb(0 0 0 / 0.07), 0px 30px 60px 0px rgb(0 0 0 / 0.26), inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
    --hover-opacity: .9 !important;
}

.light, [data-theme="light"] {
    color-scheme: light !important;
    --background: hsl(0 0% 100%) !important;
    --default-50: hsl(0 0% 98.04%) !important;
    --default-100: hsl(240 4.76% 95.88%) !important;
    --default-200: hsl(240 5.88% 90%) !important;
    --default-300: hsl(240 4.88% 83.92%) !important;
    --default-400: hsl(240 5.03% 64.9%) !important;
    --default-500: hsl(240 3.83% 46.08%) !important;
    --default-600: hsl(240 5.2% 33.92%) !important;
    --default-700: hsl(240 5.26% 26.08%) !important;
    --default-800: hsl(240 3.7% 15.88%) !important;
    --default-900: hsl(240 5.88% 10%) !important;
    --default: hsl(201.81999999999994 24.44% 8.82%) !important;
    --border: hsl(0 0% 6.67%) !important;
    --border-opacity: 0.15 !important;
    --focus: hsl(212.01999999999998 100% 46.67%) !important;
    --overlay: hsl(0 0% 0%) !important;
    --surface: hsl(0 0% 100%) !important;
    --surface-foreground: hsl(201.81999999999994 24.44% 8.82%) !important;
    --surface-secondary: hsl(240 4.76% 95.88%) !important;
    --surface-secondary-foreground: hsl(240 3.7% 15.88%) !important;
    --surface-tertiary: hsl(240 5.88% 90%) !important;
    --surface-tertiary-foreground: hsl(240 5.26% 26.08%) !important;
    --surface-tertiary: hsl(240 4.88% 83.92%) !important;
    --surface-tertiary-foreground: hsl(240 5.2% 33.92%) !important;
    --default-50: hsl(0 0% 98.04%) !important;
    --default-100: hsl(240 4.76% 95.88%) !important;
    --default-200: hsl(240 5.88% 90%) !important;
    --default-300: hsl(240 4.88% 83.92%) !important;
    --default-400: hsl(240 5.03% 64.9%) !important;
    --default-500: hsl(240 3.83% 46.08%) !important;
    --default-600: hsl(240 5.2% 33.92%) !important;
    --default-700: hsl(240 5.26% 26.08%) !important;
    --default-800: hsl(240 3.7% 15.88%) !important;
    --default-900: hsl(240 5.88% 10%) !important;
    --default-foreground: hsl(0 0% 0%) !important;
    --default: hsl(240 4.88% 83.92%) !important;
    --accent-50: hsl(212.5 92.31% 94.9%) !important;
    --accent-100: hsl(211.84000000000003 92.45% 89.61%) !important;
    --accent-200: hsl(211.84000000000003 92.45% 79.22%) !important;
    --accent-300: hsl(212.24 92.45% 68.82%) !important;
    --accent-400: hsl(212.14 92.45% 58.43%) !important;
    --accent-500: hsl(212.01999999999998 100% 46.67%) !important;
    --accent-600: hsl(212.14 100% 38.43%) !important;
    --accent-700: hsl(212.24 100% 28.82%) !important;
    --accent-800: hsl(211.84000000000003 100% 19.22%) !important;
    --accent-900: hsl(211.84000000000003 100% 9.61%) !important;
    --accent-foreground: hsl(0 0% 100%) !important;
    --accent: hsl(212.01999999999998 100% 46.67%) !important;
    --secondary-50: hsl(270 61.54% 94.9%) !important;
    --secondary-100: hsl(270 59.26% 89.41%) !important;
    --secondary-200: hsl(270 59.26% 78.82%) !important;
    --secondary-300: hsl(270 59.26% 68.24%) !important;
    --secondary-400: hsl(270 59.26% 57.65%) !important;
    --secondary-500: hsl(270 66.67% 47.06%) !important;
    --secondary-600: hsl(270 66.67% 37.65%) !important;
    --secondary-700: hsl(270 66.67% 28.24%) !important;
    --secondary-800: hsl(270 66.67% 18.82%) !important;
    --secondary-900: hsl(270 66.67% 9.41%) !important;
    --secondary-foreground: hsl(0 0% 100%) !important;
    --secondary: hsl(270 66.67% 47.06%) !important;
    --success-50: hsl(146.66999999999996 64.29% 94.51%) !important;
    --success-100: hsl(145.71000000000004 61.4% 88.82%) !important;
    --success-200: hsl(146.2 61.74% 77.45%) !important;
    --success-300: hsl(145.78999999999996 62.57% 66.47%) !important;
    --success-400: hsl(146.01 62.45% 55.1%) !important;
    --success-500: hsl(145.96000000000004 79.46% 43.92%) !important;
    --success-600: hsl(146.01 79.89% 35.1%) !important;
    --success-700: hsl(145.78999999999996 79.26% 26.47%) !important;
    --success-800: hsl(146.2 79.78% 17.45%) !important;
    --success-900: hsl(145.71000000000004 77.78% 8.82%) !important;
    --success-foreground: hsl(0 0% 0%) !important;
    --success: hsl(145.96000000000004 79.46% 43.92%) !important;
    --warning-50: hsl(54.55000000000001 91.67% 95.29%) !important;
    --warning-100: hsl(37.139999999999986 91.3% 90.98%) !important;
    --warning-200: hsl(37.139999999999986 91.3% 81.96%) !important;
    --warning-300: hsl(36.95999999999998 91.24% 73.14%) !important;
    --warning-400: hsl(37.00999999999999 91.26% 64.12%) !important;
    --warning-500: hsl(37.02999999999997 91.27% 55.1%) !important;
    --warning-600: hsl(37.00999999999999 74.22% 44.12%) !important;
    --warning-700: hsl(36.95999999999998 73.96% 33.14%) !important;
    --warning-800: hsl(37.139999999999986 75% 21.96%) !important;
    --warning-900: hsl(37.139999999999986 75% 10.98%) !important;
    --warning-foreground: hsl(0 0% 0%) !important;
    --warning: hsl(37.02999999999997 91.27% 55.1%) !important;
    --danger-50: hsl(339.13 92% 95.1%) !important;
    --danger-100: hsl(340 91.84% 90.39%) !important;
    --danger-200: hsl(339.3299999999999 90% 80.39%) !important;
    --danger-300: hsl(339.11 90.6% 70.78%) !important;
    --danger-400: hsl(339 90% 60.78%) !important;
    --danger-500: hsl(339.20000000000005 90.36% 51.18%) !important;
    --danger-600: hsl(339 86.54% 40.78%) !important;
    --danger-700: hsl(339.11 85.99% 30.78%) !important;
    --danger-800: hsl(339.3299999999999 86.54% 20.39%) !important;
    --danger-900: hsl(340 84.91% 10.39%) !important;
    --danger-foreground: hsl(0 0% 100%) !important;
    --danger: hsl(339.20000000000005 90.36% 51.18%) !important;
    --border-width: 1px !important;
    --disabled-opacity: .5 !important;
    --text-tiny: 0.75rem !important;
    --text-small: 0.875rem !important;
    --text-medium: 1rem !important;
    --text-large: 1.125rem !important;
    --text-tiny--line-height: 1rem !important;
    --text-small--line-height: 1.25rem !important;
    --text-medium--line-height: 1.5rem !important;
    --text-large--line-height: 1.75rem !important;
    --radius-sm: 8px !important;
    --radius-md: 12px !important;
    --radius-lg: 14px !important;
    --border-width-sm: 1px !important;
    --border-width-md: 2px !important;
    --border-width-lg: 3px !important;
    --app-shadow-sm: 0px 0px 5px 0px rgb(0 0 0 / 0.02), 0px 2px 10px 0px rgb(0 0 0 / 0.06), 0px 0px 1px 0px rgb(0 0 0 / 0.3) !important;
    --app-shadow-md: 0px 0px 15px 0px rgb(0 0 0 / 0.03), 0px 2px 30px 0px rgb(0 0 0 / 0.08), 0px 0px 1px 0px rgb(0 0 0 / 0.3) !important;
    --app-shadow-lg: 0px 0px 30px 0px rgb(0 0 0 / 0.04), 0px 30px 60px 0px rgb(0 0 0 / 0.12), 0px 0px 1px 0px rgb(0 0 0 / 0.3) !important;
    --hover-opacity: .8 !important;
}
