/* HomoHub */

.side .sticky h3 {
    white-space: nowrap;
}

.side .sticky h3::after {
    content: "Party";
    padding: 4px;
    margin-left: calc(-5ch + 4px);
    color: var(--accent-foreground);
    background-color: var(--accent);
    border-radius: var(--radius-sm);
}

.border-primary-foreground>.bg-white {
    background-color: var(--accent-foreground);
}

html {
    --background: hsl(0 0% 0%) !important;
    --default-50: hsl(240 5.88% 10%) !important;
    --default-100: hsl(240 3.7% 15.88%) !important;
    --default-200: hsl(240 5.26% 26.08%) !important;
    --default-300: hsl(240 5.2% 33.92%) !important;
    --default-400: hsl(240 3.83% 46.08%) !important;
    --default-500: hsl(240 5.03% 64.9%) !important;
    --default-600: hsl(240 4.88% 83.92%) !important;
    --default-700: hsl(240 5.88% 90%) !important;
    --default-800: hsl(240 4.76% 95.88%) !important;
    --default-900: hsl(0 0% 98.04%) !important;
    --default: hsl(210 5.56% 92.94%) !important;
    --focus: hsl(212.01999999999998 100% 46.67%) !important;
    --overlay: hsl(0 0% 0%) !important;
    --separator: hsl(0 0% 100%) !important;
    --separator-opacity: 0.15 !important;
    --surface: hsl(240 5.88% 10%) !important;
    --surface-foreground: hsl(0 0% 98.04%) !important;
    --surface-secondary: hsl(240 3.7% 15.88%) !important;
    --surface-secondary-foreground: hsl(240 4.76% 95.88%) !important;
    --surface-tertiary: hsl(240 5.26% 26.08%) !important;
    --surface-tertiary-foreground: hsl(240 5.88% 90%) !important;
    --surface-tertiary: hsl(240 5.2% 33.92%) !important;
    --surface-tertiary-foreground: hsl(240 4.88% 83.92%) !important;
    --default-50: hsl(240 5.88% 10%) !important;
    --default-100: hsl(240 3.7% 15.88%) !important;
    --default-200: hsl(240 5.26% 26.08%) !important;
    --default-300: hsl(240 5.2% 33.92%) !important;
    --default-400: hsl(240 3.83% 46.08%) !important;
    --default-500: hsl(240 5.03% 64.9%) !important;
    --default-600: hsl(240 4.88% 83.92%) !important;
    --default-700: hsl(240 5.88% 90%) !important;
    --default-800: hsl(240 4.76% 95.88%) !important;
    --default-900: hsl(0 0% 98.04%) !important;
    --default-foreground: hsl(0 0% 100%) !important;
    --default: hsl(240 5.26% 26.08%) !important;
    --accent-50: hsl(36 100% 50%) !important;
    --accent-100: hsl(36 100% 50%) !important;
    --accent-200: hsl(36 100% 50%) !important;
    --accent-300: hsl(36 100% 50%) !important;
    --accent-400: hsl(36 100% 50%) !important;
    --accent-500: hsl(36 100% 50%) !important;
    --accent-600: hsl(36 100% 50%) !important;
    --accent-700: hsl(36 100% 50%) !important;
    --accent-800: hsl(36 100% 50%) !important;
    --accent-900: hsl(36 100% 50%) !important;
    --accent-foreground: hsl(0 0% 0%) !important;
    --accent: hsl(36 100% 50%) !important;
    --secondary-50: hsl(270 66.67% 9.41%) !important;
    --secondary-100: hsl(270 66.67% 18.82%) !important;
    --secondary-200: hsl(270 66.67% 28.24%) !important;
    --secondary-300: hsl(270 66.67% 37.65%) !important;
    --secondary-400: hsl(270 66.67% 47.06%) !important;
    --secondary-500: hsl(270 59.26% 57.65%) !important;
    --secondary-600: hsl(270 59.26% 68.24%) !important;
    --secondary-700: hsl(270 59.26% 78.82%) !important;
    --secondary-800: hsl(270 59.26% 89.41%) !important;
    --secondary-900: hsl(270 61.54% 94.9%) !important;
    --secondary-foreground: hsl(0 0% 100%) !important;
    --secondary: hsl(270 59.26% 57.65%) !important;
    --success-50: hsl(145.71000000000004 77.78% 8.82%) !important;
    --success-100: hsl(146.2 79.78% 17.45%) !important;
    --success-200: hsl(145.78999999999996 79.26% 26.47%) !important;
    --success-300: hsl(146.01 79.89% 35.1%) !important;
    --success-400: hsl(145.96000000000004 79.46% 43.92%) !important;
    --success-500: hsl(146.01 62.45% 55.1%) !important;
    --success-600: hsl(145.78999999999996 62.57% 66.47%) !important;
    --success-700: hsl(146.2 61.74% 77.45%) !important;
    --success-800: hsl(145.71000000000004 61.4% 88.82%) !important;
    --success-900: hsl(146.66999999999996 64.29% 94.51%) !important;
    --success-foreground: hsl(0 0% 0%) !important;
    --success: hsl(145.96000000000004 79.46% 43.92%) !important;
    --warning-50: hsl(36 100% 50%) !important;
    --warning-100: hsl(36 100% 50%) !important;
    --warning-200: hsl(36 100% 50%) !important;
    --warning-300: hsl(36 100% 50%) !important;
    --warning-400: hsl(36 100% 50%) !important;
    --warning-500: hsl(36 100% 50%) !important;
    --warning-600: hsl(36 100% 50%) !important;
    --warning-700: hsl(36 100% 50%) !important;
    --warning-800: hsl(36 100% 50%) !important;
    --warning-900: hsl(36 100% 50%) !important;
    --warning-foreground: hsl(0 0% 0%) !important;
    --warning: hsl(36 100% 50%) !important;
    --danger-50: hsl(7 72% 60%) !important;
    --danger-100: hsl(7 72% 60%) !important;
    --danger-200: hsl(7 72% 60%) !important;
    --danger-300: hsl(7 72% 60%) !important;
    --danger-400: hsl(7 72% 60%) !important;
    --danger-500: hsl(7 72% 60%) !important;
    --danger-600: hsl(7 72% 60%) !important;
    --danger-700: hsl(7 72% 60%) !important;
    --danger-800: hsl(7 72% 60%) !important;
    --danger-900: hsl(7 72% 60%) !important;
    --danger-foreground: hsl(0 0% 100%) !important;
    --danger: hsl(7 72% 60%) !important;
    --separator-width: 1px !important;
    --disabled-opacity: .5 !important;
    --text-tiny: 0.75rem !important;
    --text-small: 0.875rem !important;
    --text-medium: 1rem !important;
    --text-large: 1.125rem !important;
    --text-tiny--line-height: 1rem !important;
    --text-small--line-height: 1.25rem !important;
    --text-medium--line-height: 1.5rem !important;
    --text-large--line-height: 1.75rem !important;
    --radius-sm: 8px !important;
    --radius-md: 12px !important;
    --radius-lg: 14px !important;
    --border-width-small: 1px !important;
    --border-width-medium: 2px !important;
    --border-width-large: 3px !important;
    --app-shadow-sm: 0px 0px 5px 0px rgb(0 0 0 / 0.05), 0px 2px 10px 0px rgb(0 0 0 / 0.2), inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
    --app-shadow-md: 0px 0px 15px 0px rgb(0 0 0 / 0.06), 0px 2px 30px 0px rgb(0 0 0 / 0.22), inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
    --app-shadow-lg: 0px 0px 30px 0px rgb(0 0 0 / 0.07), 0px 30px 60px 0px rgb(0 0 0 / 0.26), inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
    --hover-opacity: .9 !important;
}
