/* 橄榄绿（设计 by 666）*/

.light,
[data-theme="light"] {
  --accent: hsl(90 60% 60%) !important;
  --secondary: hsl(100 60% 40%) !important;
  --surface: hsl(80 30% 100%) !important;
  --surface-secondary: hsl(80 30% 92%) !important;
  --surface-tertiary: hsl(80 30% 90%) !important;
  --surface-tertiary: hsl(80 30% 85%) !important;
  --default: hsl(80 30% 85%) !important;
  --default-50: hsl(80 30% 100%) !important;
  --default-100: hsl(80 30% 95%) !important;
  --default-200: hsl(80 30% 85%) !important;
  --default-300: hsl(80 30% 80%) !important;
  --default-400: hsl(80 30% 85%) !important;
  --default-500: hsl(80 30% 70%) !important;
  --default-600: hsl(80 30% 65%) !important;
  --default: hsl(80 30% 35%) !important;
  --default-foreground: hsl(80 30% 35%) !important;
  --border-opacity: 0.1 !important;
  --border-width-sm: 1px !important;
  --border-width-lg: 1px !important;
  --app-shadow-sm: 0px 4px 10px rgba(0, 0, 0, 0.02) !important;
  --app-shadow-md: 0px 4px 10px rgba(0, 0, 0, 0.02) !important;
  --app-shadow-lg: 0px 4px 10px rgba(0, 0, 0, 0.02) !important;
  --background: hsl(80 20% 96%) !important;
  /* 自定义变量 */
  --custom-primary-background: linear-gradient(
    135deg,
    hsl(80, 51%, 54%) 0%,
    hsl(71, 52%, 59%) 100%
);
  --custom-main-background: hsl(80, 20%, 96%);
  --custom-side-background: linear-gradient(
    135deg,
    hsl(80, 50%, 70%) 0%,
    hsl(80, 20%, 96%) 100%
);
}

.dark,
[data-theme="dark"] {
  --accent: hsl(90 60% 60%) !important;
  --secondary: hsl(100 60% 40%) !important;
  --surface: hsl(80 30% 30%) !important;
  --surface-secondary: hsl(80 30% 35%) !important;
  --surface-tertiary: hsl(80 30% 40%) !important;
  --surface-tertiary: hsl(80 30% 45%) !important;
  --default: hsl(80 30% 40%) !important;
  --default-50: hsl(80 30% 30%) !important;
  --default-100: hsl(80 30% 35%) !important;
  --default-200: hsl(80 30% 40%) !important;
  --default-300: hsl(80 30% 45%) !important;
  --default-400: hsl(80 30% 50%) !important;
  --default-500: hsl(80 30% 55%) !important;
  --default-600: hsl(80 30% 60%) !important;
  --default: hsl(80 30% 85%) !important;
  --default-foreground: hsl(80 30% 85%) !important;
  --border-opacity: 0.1 !important;
  --border-width-sm: 1px !important;
  --border-width-lg: 1px !important;
  --app-shadow-sm: 0px 4px 10px rgba(0, 0, 0, 0.02) !important;
  --app-shadow-md: 0px 4px 10px rgba(0, 0, 0, 0.02) !important;
  --app-shadow-lg: 0px 4px 10px rgba(0, 0, 0, 0.02) !important;
  --background: hsl(80 20% 15%) !important;
  /* 自定义变量 */
  --custom-primary-background: linear-gradient(
    135deg,
    hsl(80, 59%, 35%) 0%,
    hsl(72, 42%, 46%) 100%
);
  --custom-main-background: hsl(80, 20%, 15%);
  --custom-side-background: linear-gradient(
    135deg,
    hsl(80, 40%, 5%) 0%,
    hsl(80, 20%, 15%) 100%
);
}

/* 下拉菜单保持默认阴影 */
[data-slot="content"] {
  --app-shadow-sm: 0px 0px 5px 0px rgb(0 0 0 / 0.05),
    0px 2px 10px 0px rgb(0 0 0 / 0.2),
    inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
  --app-shadow-md: 0px 0px 15px 0px rgb(0 0 0 / 0.06),
    0px 2px 30px 0px rgb(0 0 0 / 0.22),
    inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
  --app-shadow-lg: 0px 0px 30px 0px rgb(0 0 0 / 0.07),
    0px 30px 60px 0px rgb(0 0 0 / 0.26),
    inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
  --hover-opacity: 0.9 !important;
}

.bg-primary {
  background: var(--custom-primary-background) !important;
}
.bg-primary\/30 {
  background: var(--custom-primary-background) !important;
}
.main {
  background: var(--custom-main-background) !important;
}
.side {
  background: var(--custom-side-background) !important;
}
