/* 霞光紫（设计 by 666）*/

.light,
[data-theme="light"] {
  --accent: hsl(260 90% 75%) !important;
  --secondary: hsl(270 90% 50%) !important;
  --surface: hsl(250 30% 100%) !important;
  --surface-secondary: hsl(250 30% 92%) !important;
  --surface-tertiary: hsl(250 30% 90%) !important;
  --surface-tertiary: hsl(250 30% 85%) !important;
  --default: hsl(250 30% 85%) !important;
  --default-50: hsl(250 30% 100%) !important;
  --default-100: hsl(250 30% 95%) !important;
  --default-200: hsl(250 30% 85%) !important;
  --default-300: hsl(250 30% 80%) !important;
  --default-400: hsl(250 30% 85%) !important;
  --default-500: hsl(250 30% 70%) !important;
  --default-600: hsl(250 30% 65%) !important;
  --default: hsl(250 30% 35%) !important;
  --default-foreground: hsl(250 30% 35%) !important;
  --border-opacity: 0.1 !important;
  --border-width-sm: 1px !important;
  --border-width-lg: 1px !important;
  --app-shadow-sm: 0px 4px 10px rgba(0, 0, 0, 0.02) !important;
  --app-shadow-md: 0px 4px 10px rgba(0, 0, 0, 0.02) !important;
  --app-shadow-lg: 0px 4px 10px rgba(0, 0, 0, 0.02) !important;
  --background: hsl(270 20% 96%) !important;
  /* 自定义变量 */
  --custom-primary-background: linear-gradient(
    135deg,
    hsl(250, 90%, 75%) 0%,
    hsl(291, 70%, 79%) 100%
  );
  --custom-main-background: hsl(270, 20%, 96%);
  --custom-side-background: linear-gradient(
    135deg,
    hsl(270, 90%, 90%) 0%,
    hsl(270, 20%, 96%) 100%
  );
}

.dark,
[data-theme="dark"] {
  --accent: hsl(260 90% 75%) !important;
  --secondary: hsl(270 90% 50%) !important;
  --surface: hsl(250 30% 30%) !important;
  --surface-secondary: hsl(250 30% 35%) !important;
  --surface-tertiary: hsl(250 30% 40%) !important;
  --surface-tertiary: hsl(250 30% 45%) !important;
  --default: hsl(250 30% 40%) !important;
  --default-50: hsl(250 30% 30%) !important;
  --default-100: hsl(250 30% 35%) !important;
  --default-200: hsl(250 30% 40%) !important;
  --default-300: hsl(250 30% 45%) !important;
  --default-400: hsl(250 30% 50%) !important;
  --default-500: hsl(250 30% 55%) !important;
  --default-600: hsl(250 30% 60%) !important;
  --default: hsl(250 30% 85%) !important;
  --default-foreground: hsl(250 30% 85%) !important;
  --border-opacity: 0.1 !important;
  --border-width-sm: 1px !important;
  --border-width-lg: 1px !important;
  --app-shadow-sm: 0px 4px 10px rgba(0, 0, 0, 0.02) !important;
  --app-shadow-md: 0px 4px 10px rgba(0, 0, 0, 0.02) !important;
  --app-shadow-lg: 0px 4px 10px rgba(0, 0, 0, 0.02) !important;
  --background: hsl(270 20% 15%) !important;
  /* 自定义变量 */
  --custom-primary-background: linear-gradient(
    135deg,
    hsl(260, 80%, 60%) 0%,
    hsl(291, 60%, 70%) 100%
  );
  --custom-main-background: hsl(270, 20%, 15%);
  --custom-side-background: linear-gradient(
    135deg,
    hsl(270, 50%, 5%) 0%,
    hsl(270, 20%, 15%) 100%
  );
}

/* 下拉菜单保持默认阴影 */
[data-slot="content"] {
  --app-shadow-sm: 0px 0px 5px 0px rgb(0 0 0 / 0.05),
    0px 2px 10px 0px rgb(0 0 0 / 0.2),
    inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
  --app-shadow-md: 0px 0px 15px 0px rgb(0 0 0 / 0.06),
    0px 2px 30px 0px rgb(0 0 0 / 0.22),
    inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
  --app-shadow-lg: 0px 0px 30px 0px rgb(0 0 0 / 0.07),
    0px 30px 60px 0px rgb(0 0 0 / 0.26),
    inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
  --hover-opacity: 0.9 !important;
}

.bg-primary {
  background: var(--custom-primary-background) !important;
}
.bg-primary\/30 {
  background: var(--custom-primary-background) !important;
}
.main {
  background: var(--custom-main-background) !important;
}
.side {
  background: var(--custom-side-background) !important;
}
