/* Tokyo Night */

.dark,
[data-theme="dark"] {
  --background: hsl(235 21% 13%) !important;
  --default: hsl(228 23% 21%) !important;
  --default-100: hsl(228 23% 21%) !important;
  --default-200: hsl(229 23% 33%) !important;
  --surface: hsl(240 15% 10%) !important;
  --surface-secondary: hsl(228 23% 21%) !important;
}

html {
  --accent: hsl(221 87% 72%) !important;
  --secondary: hsl(189 89% 45%) !important;
  --success: hsl(168 74% 42%) !important;
  --warning: hsl(35 66% 64%) !important;
  --danger: hsl(349 89% 72%) !important;
}
