/* 小而美 */

.dark, [data-theme="dark"] {
    --background: hsl(0 0% 7%) !important;
    --surface: hsl(0 0% 10%) !important;
    --surface-secondary: hsl(0 0% 14%) !important;
    --surface-tertiary: hsl(0 0% 18%) !important;
    --surface-tertiary: hsl(0 0% 22%) !important;
    --default: hsl(0 0% 18%) !important;
    --default-50: hsl(0 0% 10%) !important;
    --default-100: hsl(0 0% 14%) !important;
    --default-200: hsl(0 0% 18%) !important;
    --default-300: hsl(0 0% 22%) !important;
}

.light, [data-theme="light"] {
    --background: hsl(0 0% 96%) !important;
}

html {
    --accent: hsl(149 93% 39%) !important;
    --secondary: hsl(209 87% 51%) !important;
    --success: hsl(149 93% 39%) !important;
    --warning: hsl(32 93% 60%) !important;
    --danger: hsl(1 92% 64%) !important;
    --radius-sm: 4px !important;
    --radius-md: 6px !important;
    --radius-lg: 8px !important;
}
