/* Win11 */

[data-slot="input-wrapper"] {
    border-bottom: 1px solid var(--default-800) !important;
}

[data-testid="virtuoso-scroller"] .flag-emoji.h-\[32px\] {
    font-weight: bold !important;
}

[data-testid="virtuoso-scroller"] [data-slot="input-wrapper"] {
    border: none !important;
}

[data-slot="input-wrapper"][data-focus="true"] {
    border-bottom: 2px solid var(--accent) !important;
}

.sticky,
[data-orientation="vertical"] {
    --separator-opacity: 0.15 !important;
}

label:not([data-selected])>span.items-center {
    height: 20px !important;
    background-color: var(--surface) !important;
    border: 1px var(--default-800) solid !important;
}

label[data-selected="true"]>span.items-center {
    height: 20px !important;
}

label:not([data-selected])>span>span {
    height: 12px !important;
    width: 12px !important;
    background-color: var(--default-800) !important;
}

label[data-selected="true"]>span>span {
    height: 12px !important;
    width: 12px !important;
    transform: translateX(4px) !important;
    background-color: var(--accent-foreground) !important;
}

.side label[data-selected="true"]>span>span {
    transform: translateX(2px) !important;
}

[data-slot="content"] [data-slot="listbox"]>li[data-selected="true"] {
    border-left: 3px var(--accent) solid !important;
    background-color: var(--surface-secondary) !important;
}

[data-slot="content"] {
    --app-shadow-sm: 0px 0px 5px 0px rgb(0 0 0 / 0.05),
        0px 2px 10px 0px rgb(0 0 0 / 0.2),
        inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
    --app-shadow-md: 0px 0px 15px 0px rgb(0 0 0 / 0.06),
        0px 2px 30px 0px rgb(0 0 0 / 0.22),
        inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
    --app-shadow-lg: 0px 0px 30px 0px rgb(0 0 0 / 0.07),
        0px 30px 60px 0px rgb(0 0 0 / 0.26),
        inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
    --hover-opacity: 0.9 !important;
}

.floating-bg {
    --separator-opacity: 0.15 !important;
    border: 1px solid color-mix(in srgb, var(--separator) calc(var(--separator-opacity) * 100%), transparent) !important;
}

.side .grid>div>div:not(.bg-primary):hover {
    background-color: var(--surface-secondary) !important;
}

.dark,
[data-theme="dark"] {
    --background: hsl(0 0% 13%) !important;
    --default-50: hsl(0 0% 10%) !important;
    --default-100: hsl(0 0% 15%) !important;
    --default-200: hsl(0 0% 20%) !important;
    --default-300: hsl(0 0% 30%) !important;
    --default-400: hsl(0 0% 40%) !important;
    --default-500: hsl(0 0% 50%) !important;
    --default-600: hsl(0 0% 60%) !important;
    --default-700: hsl(0 0% 70%) !important;
    --default-800: hsl(0 0% 80%) !important;
    --default-900: hsl(0 0% 90%) !important;
    --default: hsl(0 0% 100%) !important;
    --separator-opacity: 0 !important;
    --surface: hsl(0 0% 17%) !important;
    --surface-secondary: hsl(0 0% 21%) !important;
    --surface-tertiary: hsl(0 0% 25%) !important;
    --surface-tertiary: hsl(0 0% 30%) !important;
    --default-50: hsl(0 0% 17%) !important;
    --default-100: hsl(0 0% 21%) !important;
    --default-200: hsl(0 0% 25%) !important;
    --default-300: hsl(0 0% 30%) !important;
    --default-400: hsl(0 0% 40%) !important;
    --default-500: hsl(0 0% 50%) !important;
    --default-600: hsl(0 0% 60%) !important;
    --default-700: hsl(0 0% 70%) !important;
    --default-800: hsl(0 0% 80%) !important;
    --default-900: hsl(0 0% 90%) !important;
    --default: hsl(0 0% 21%) !important;
    --accent-50: hsl(200 100% 65%) !important;
    --accent-100: hsl(200 100% 65%) !important;
    --accent-200: hsl(200 100% 65%) !important;
    --accent-300: hsl(200 100% 65%) !important;
    --accent-400: hsl(200 100% 65%) !important;
    --accent-500: hsl(200 100% 65%) !important;
    --accent-600: hsl(2200 100% 65%) !important;
    --accent-700: hsl(200 100% 65%) !important;
    --accent-800: hsl(200 100% 65%) !important;
    --accent-900: hsl(200 100% 65%) !important;
    --accent-foreground: hsl(0 0% 0%) !important;
    --accent: hsl(200 100% 65%) !important;
    --secondary-50: hsl(294 58% 72%) !important;
    --secondary-100: hsl(294 58% 72%) !important;
    --secondary-200: hsl(294 58% 72%) !important;
    --secondary-300: hsl(294 58% 72%) !important;
    --secondary-400: hsl(294 58% 72%) !important;
    --secondary-500: hsl(294 58% 72%) !important;
    --secondary-600: hsl(294 58% 72%) !important;
    --secondary-700: hsl(294 58% 72%) !important;
    --secondary-800: hsl(294 58% 72%) !important;
    --secondary-900: hsl(294 58% 72%) !important;
    --secondary-foreground: hsl(0 0% 0%) !important;
    --secondary: hsl(294 58% 72%) !important;
    --danger-50: hsl(2 87% 67%) !important;
    --danger-100: hsl(2 87% 67%) !important;
    --danger-200: hsl(2 87% 67%) !important;
    --danger-300: hsl(2 87% 67%) !important;
    --danger-400: hsl(2 87% 67%) !important;
    --danger-500: hsl(2 87% 67%) !important;
    --danger-600: hsl(2 87% 67%) !important;
    --danger-700: hsl(2 87% 67%) !important;
    --danger-800: hsl(2 87% 67%) !important;
    --danger-900: hsl(2 87% 67%) !important;
    --danger-foreground: hsl(0 0% 0%) !important;
    --danger: hsl(2 87% 67%) !important;
    --radius-sm: 4px !important;
    --radius-md: 4px !important;
    --radius-lg: 6px !important;
    --app-shadow-sm: none !important;
    --app-shadow-md: none !important;
    --app-shadow-lg: none !important;
}

.light,
[data-theme="light"] {
    color-scheme: light !important;
    --background: hsl(0 0% 95%) !important;
    --default-50: hsl(0 0% 98%) !important;
    --default-100: hsl(0 0% 95%) !important;
    --default-200: hsl(0 0% 90%) !important;
    --default-300: hsl(0 0% 80%) !important;
    --default-400: hsl(0 0% 70%) !important;
    --default-500: hsl(0 0% 60%) !important;
    --default-600: hsl(0 0% 50%) !important;
    --default-700: hsl(0 0% 40%) !important;
    --default-800: hsl(0 0% 30%) !important;
    --default-900: hsl(0 0% 20%) !important;
    --default: hsl(0 0% 0%) !important;
    --separator-opacity: 0 !important;
    --surface: hsl(0 0% 98%) !important;
    --surface-secondary: hsl(0 0% 95%) !important;
    --surface-tertiary: hsl(0 0% 90%) !important;
    --surface-tertiary: hsl(0 0% 80%) !important;
    --default-50: hsl(0 0% 98%) !important;
    --default-100: hsl(0 0% 95%) !important;
    --default-200: hsl(0 0% 90%) !important;
    --default-300: hsl(0 0% 80%) !important;
    --default-400: hsl(0 0% 70%) !important;
    --default-500: hsl(0 0% 60%) !important;
    --default-600: hsl(0 0% 50%) !important;
    --default-700: hsl(0 0% 40%) !important;
    --default-800: hsl(0 0% 30%) !important;
    --default-900: hsl(0 0% 20%) !important;
    --default: hsl(0 0% 80%) !important;
    --accent-50: hsl(208 100% 38%) !important;
    --accent-100: hsl(208 100% 38%) !important;
    --accent-200: hsl(208 100% 38%) !important;
    --accent-300: hsl(208 100% 38%) !important;
    --accent-400: hsl(208 100% 38%) !important;
    --accent-500: hsl(208 100% 38%) !important;
    --accent-600: hsl(208 100% 38%) !important;
    --accent-700: hsl(208 100% 38%) !important;
    --accent-800: hsl(208 100% 38%) !important;
    --accent-900: hsl(208 100% 38%) !important;
    --accent-foreground: hsl(0 0% 100%) !important;
    --accent: hsl(208 100% 38%) !important;
    --secondary-50: hsl(265 40% 43%) !important;
    --secondary-100: hsl(265 40% 43%) !important;
    --secondary-200: hsl(265 40% 43%) !important;
    --secondary-300: hsl(265 40% 43%) !important;
    --secondary-400: hsl(265 40% 43%) !important;
    --secondary-500: hsl(265 40% 43%) !important;
    --secondary-600: hsl(265 40% 43%) !important;
    --secondary-700: hsl(265 40% 43%) !important;
    --secondary-800: hsl(265 40% 43%) !important;
    --secondary-900: hsl(265 40% 43%) !important;
    --secondary-foreground: hsl(0 0% 100%) !important;
    --secondary: hsl(265 40% 43%) !important;
    --danger-50: hsl(355 87% 44%) !important;
    --danger-100: hsl(355 87% 44%) !important;
    --danger-200: hsl(355 87% 44%) !important;
    --danger-300: hsl(355 87% 44%) !important;
    --danger-400: hsl(355 87% 44%) !important;
    --danger-500: hsl(355 87% 44%) !important;
    --danger-600: hsl(355 87% 44%) !important;
    --danger-700: hsl(355 87% 44%) !important;
    --danger-800: hsl(355 87% 44%) !important;
    --danger-900: hsl(355 87% 44%) !important;
    --danger-foreground: hsl(0 0% 100%) !important;
    --danger: hsl(355 87% 44%) !important;
    --radius-sm: 4px !important;
    --radius-md: 4px !important;
    --radius-lg: 6px !important;
    --app-shadow-sm: 0px 0px 0px 0px rgb(0 0 0 / 0.02), 0px 2px 10px 0px rgb(0 0 0 / 0.06), 0px 0px 1px 0px rgb(0 0 0 / 0.3) !important;
    --app-shadow-md: 0px 0px 0px 0px rgb(0 0 0 / 0.03), 0px 2px 30px 0px rgb(0 0 0 / 0.08), 0px 0px 1px 0px rgb(0 0 0 / 0.3) !important;
    --app-shadow-lg: 0px 0px 0px 0px rgb(0 0 0 / 0.04), 0px 30px 60px 0px rgb(0 0 0 / 0.12), 0px 0px 1px 0px rgb(0 0 0 / 0.3) !important;
}
